spring:
  cloud:
    nacos:
      discovery:
        server-addr: 127.0.0.1:8848

  application:
    name: gulimall-auth-server

  thymeleaf:
    cache: false
  redis:
    host: 59.110.44.147
    port: 6379
  session:
    store-type: redis

server:
  port: 20000
  servlet:
    session:
      timeout: 30m

